# Rspec
'.source.ruby':
  'Spech Helper':
    'prefix': 'spechelper'
    'body': "require 'spechelper'"

'.source.ruby':
  'Rspec describe':
    'prefix': 'des'
    'body': """
      describe ${1:description} do
        before do
          $2
        end
      end
    """

'.source.ruby':
  'Rspec describe class':
    'prefix': 'desc'
    'body': """
      describe ${1:Class}, "${2:description}" do
        before do
          $2
        end
      end
    """

'.source.ruby':
  'Rspec it':
    'prefix': 'it'
    'body': """
      it "should ${1:description}" do
        $2
      end
    """

'.source.ruby':
  'Rspec it should':
    'prefix': 'itsh'
    'body': """
      it "should ${1:description}" do
        ${2:model}.should ${3:something}
      end
    """

'.source.ruby':
  'Rspec it should be':
    'prefix': 'itshbe'
    'body': """
      it "should ${1:description}" do
        ${2:model}.should be_${3:something}
      end
    """

# Matchers

'.source.ruby':
  'Rspec should equal to':
    'prefix': 'sheq'
    'body': "${1:target}.should == ${2:value}"

'.source.ruby':
  'Rspec should be':
    'prefix': 'shbe'
    'body': '${1:target}.should be_${2:result}'
